.trading {
    margin: 5em 0;

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 50%;
    }
}

.widget-chart {
    img {
        max-width: 100%;
    }
}