input[type=text],
input[type=password],
input[type=email],
input[type=tel],
textarea,
select {
    border: @input-border-color;
    border-radius: @input-border-radius;
    font-size: @input-font-size;
    font-family: @input-font-family;
    font-weight: @input-font-weight;
    padding: @input-padding;
    height: @input-height;
    width: @input-width;
    box-shadow: @input-shadow;
}
textarea {
    height: 8.5em;
    padding: 1em;
    resize: none;
    &::-webkit-input-placeholder {opacity: 0 !important;}
    &:-moz-placeholder {opacity: 0 !important;}
    &::-moz-placeholder {opacity: 0 !important;}
    &:-ms-input-placeholder {opacity: 0 !important;}
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand {display: none;}

// ========================= Checkbox =========================
input[type="checkbox"] {
    position: absolute;
    height: 0;
    font-size: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="checkbox"] + label {
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 2.25em;

    &:before, &:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
    }

    &:before {
        background-color: @gray-light;
        border-radius: 7px;
        width: 24px;
        height: 14px;
        transition: background-color .3s ease;
    }

    &:after {
        background-color: @white;
        border-radius: 50%;
        top: 2px;
        left: 2px;
        width: 10px;
        height: 10px;
        transition: left .3s ease;
    }
}

input[type="checkbox"]:checked + label {
    &:before {
        background-color: @blue;
    }

    &:after {
        left: 12px;
    }
}

// ---------------------- Buttons -----------------------
input[type=submit], button, .btn {
    background: @btn-bg;
    border-radius: @btn-border-radius;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    font-size: @btn-font-size;
    font-family: @btn-font-family;
    font-weight: @btn-font-weight;
    padding: @btn-padding;
    height: @btn-height;
    line-height: @btn-height;
    text-align: center;
    white-space: nowrap;
    transition: background-color .5s, border .5s, color .5s;
}
input[type=submit]:hover, button:hover, button:focus {
    cursor: pointer;
}
.btn--small {
    font-size: @font-size14;
    line-height: 30px;
    height: 32px; 
}
.btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-dark {
  color: @btn-color;
}
// Button Primary
.btn-primary {
    background-color: @btn-primary-bg;
    border: @btn-primary-border-color;
    
    &:hover {
        background-color: @btn-primary-bg-hover;
        border: @btn-primary-border-color-hover;
    }
}
// Button Success
.btn-success {
    background-color: @btn-success-bg;
    border: @btn-success-border-color;
    
    &:hover {
        background-color: @btn-success-bg-hover;
        border: @btn-success-border-color-hover;
    }
}
// Button Warning
.btn-warning {
    background-color: @btn-warning-bg;
    border: @btn-warning-border-color;
    
    &:hover {
        background-color: @btn-warning-bg-hover;
        border: @btn-warning-border-color-hover;
    }
}
// Button Danger
.btn-danger {
    background-color: @btn-danger-bg;
    border: @btn-danger-border-color;
    
    &:hover {
        background-color: @btn-danger-bg-hover;
        border: @btn-danger-border-color-hover;
    }
}
// Button Transparent
.btn-transparent {
    border: 1px solid @gray-light;
    color: @gray-light;
    transition: border-color .3s, color .3s;
    &:hover {
        border-color: @gray;
        color: @gray;
    }
}

@media screen and (max-width: 767px) {
    input[type=submit], button, .btn {
        font-size: @btn-font-size-mobile;
    }
}

.form {
    
    &__field {
        margin-bottom: 1.5em;
    }

    &__btns {

    }
}
