.form {
    &__field {
        margin-bottom: 1.5em;
    }

    &__field-input {
        position: relative;
    }

    &__label {
        display: inline-block;
        font-size: @font-size14;
        padding: 0 10px;
        margin-bottom: 5px;
    }

    &__btns {

    }
}
