.header {
    background-color: @bg-header;
    height: @header-height;
    
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__left-side {
        
    }

    &__right-side {
        
    }
}

.logo {
    line-height: 20px;
    &__img {
        display: block;
        float: left;
    }
    &__name {
        color: @white;
        font-size: 20px;
        font-weight: bold;
        margin-left: 8px;
        text-transform: uppercase;
    }
}

.lang {
    &__item {

    }

    &__link {

    }
}