// ==================== COLORS =====================
// White
@white: #fff;
@white_00: fade(@white, 0%); // rgba(225, 255, 255, 0);

// Black
@black: #000;
@black_00: fade(@black, 0%); // rgba(0, 0, 0, 0);

// Gray
@gray: #323232;
@gray-light: #999;
@gray-lighter:#f7f7f7;
@gray-dark: #414141;
@gray-border: #c7c7c7;

// Blue
@blue: #004a7c;
@blue-dark: #103358;

// Pink
@pink: #f76397;


// ==================== TEXT COLORS ====================
@text-color-base: @gray-dark;

// Link style
@link-color: @white;
@link-color-hover: @white;
@link-color-active: @white;

// ==================== BACKGROUND ======================
@bg-base: @white;
@bg-header: @blue;
@bg-footer: @blue;

// ==================== FONT FAMILY ===================
@font-serif: serif;
@font-sans-serif: sans-serif;
@font-family-opensans: 'Open Sans', sans-serif;

// ==================== FONT SIZE =======================
// base
@font-size-base: 10px;
// font size
@font-size12: 1.2em;
@font-size14: 1.4em;
@font-size15: 1.5em;
@font-size16: 1.6em;
@font-size17: 1.7em;
@font-size18: 1.8em;
@font-size19: 1.9em;
@font-size20: 2em;
@font-size22: 2.2em;
@font-size24: 2.4em;
@font-size25: 2.5em;
@font-size26: 2.6em;
@font-size28: 2.8em;
@font-size30: 3em;
@font-size32: 3.2em;
@font-size35: 3.5em;
@font-size36: 3.6em;
@font-size38: 3.8em;
@font-size43: 4.3em;
@font-size45: 4.5em;
@font-size56: 5.6em;
@font-size60: 6em;
@font-size70: 7em;
@font-size80: 8em;
@font-size93: 9.3em;
@font-size215: 21.5em;
@font-size230: 23em;
// tags
@font-size-h1: @font-size60; // H1
@font-size-h2: @font-size36; // H2
@font-size-h3: @font-size24; // H3
@font-size-h4: @font-size20; // H4
@font-size-p: @font-size18; // p
//@font-size-select: @font-size24; // select

@font-weight-base: normal;
@line-height-base: 1.4;
@letter-spacing-base: 0;

// ==================== BORDERS =======================
@border-color-base: @gray-border;
@border-color-blue: @blue-dark;
@border-width-base: 1px;

@border-style-solid: solid;
@border-style-dotted: dotted;
@border-style-dashed: dashed;

@border-radius-base: 1em;
@border-radius-half: 50%;

@border-solid: @border-width-base @border-style-solid;
@border-dotted: @border-width-base @border-style-dotted;
@border-dashed: @border-width-base @border-style-dashed;

@border-solid-base: @border-solid @border-color-base;

// ==================== FORMS: Buttons =======================
@btn-font-size: @font-size17;
@btn-font-size-mobile: @font-size20;
@btn-font-family: @font-family-opensans;
@btn-padding: 0 1em;
@btn-height: 35px;
// Btn blue
@btn-blue-bg: @blue;
@btn-blue-bg-hover: @blue;
// Btn transparent
@btn-trans-border: 1px solid @white;
@btn-trans-bg: @white;
@btn-trans-color: @blue;
// ==================== FORMS: Inputs =======================
@input-font-size: @font-size18;
@input-font-family: @font-family-opensans;
@placeholder-color: @black;

// ==================== HEADER =======================
@header-bg: @bg-header;
@header-height: 6em;

// ==================== FOOTER =======================
